@page "/EmployeeManagement"
@using ManagementApp.Entities;
@using ManagementApp.Models;
@using ManagementApp.Services.Contracts;
@using Syncfusion.Blazor.Grids;

@inject IEmployeeManagementService EmployeeManagementService;

<h3>Employee Management</h3>

<div style="max-width:900px">
    <SfGrid DataSource="employeeData">
        <!--<GridPageSettings PageSize="10"></GridPageSettings>-->
        <!--<GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>-->
        <!--<GridEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true"></GridEditSettings>-->
        <GridColumns>
            <GridColumn IsPrimaryKey="true" Field="@nameof(EmployeeModel.Id)" Width="50px"></GridColumn>
            <GridColumn HeaderText="First name" Field="@nameof(EmployeeModel.FirstName)"></GridColumn>
            <GridColumn HeaderText="Last name" Field="@nameof(EmployeeModel.LastName)"></GridColumn>
            <GridColumn HeaderText="Job Title" Field="@nameof(EmployeeModel.EmployeeJobTitleId)" Width="100px"></GridColumn>
            <GridColumn Field="@nameof(EmployeeModel.Gender)"></GridColumn>
            <GridColumn HeaderText="Date of Birth" Field="@nameof(EmployeeModel.DateOfBirth)" Format="d"></GridColumn>
            <GridColumn HeaderText="Reports" Field="@nameof(EmployeeModel.ReportToEmpId)" Width="100px"></GridColumn>
        </GridColumns>
    </SfGrid>
</div>

@code {
    private List<EmployeeModel>? employeeData = null;
    private List<EmployeeJobTitle>? employeeJobTitleData;
    //private List<object> toolBar = new List<object> { "Add", "Edit", "Delete", "Update", "Cancel", "Search" };

    protected override async Task OnInitializedAsync()
    {
        employeeData = await EmployeeManagementService.GetEmployees();
        employeeJobTitleData = await EmployeeManagementService.GetEmployeeJobs();
    }
}
